.jumbotron{
	background-color: #E6EED6;
	width: 100vw; 
}
.contain-search{
	margin: 20px 20px;


}
.video-1{
	height: 250px;
	width: 400px;
}

p{
	color: #BBC5AA;
}

body{
	
	background-color: #A72608;
}
h1{
	color: #E6EED6;
	text-align: center;
}
.test{
	border: 2px solid blue;
	margin-top: 20px;

}
main{
	background-color: #E6EED6;
	height: 90vh;
	margin: 20px 20px;
}
.main-con{
	border: 2px solid #A72608;

}
.footer-div{
	color: #BBC5AA;
}
.footer{
	margin: 10px 10px;
	text-align: center;
	
	border-radius: 20px;
	background-color:#E6EED6 ; 
}
li {
	list-style: none;
	color: #A72608;

}